.footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: silver;
}

.item.right {
    margin-right: 0%;
    align-self: center;
}

.item.left {
    position: absolute;
    align-self: center;
    margin-right: 35%;
}

.github.logo {
    max-width: 30%;
}

.github.logo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }