html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.heading{
  position: absolute;
  font-size: 80px;
  top: 400px;
  text-align: center;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  width: 100%;

}

.subheading{
  position: absolute;
  font-size: 40px;
  top: 600px;
  text-align: center;
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
  width: 100%;
}

.basic-button:hover{
  width: 200px;
  height: 50px;
  font-size: 20px;
	box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.07);
	transition: width 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.basic-button{
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  margin-top: 50px;
  margin-left: 630px;
}

.basic-text{
  margin-left: 500px;
  margin-right: 1000px;
  margin-bottom: 180px;
  margin-top: 20px;
  background-color: lightblue; 
}

.detailed-button{
  width: 150px;
  height: 55px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  margin-left: 1130px;
  margin-top: -670px;
}

.detailed-text{
  margin-left: 1000px;
  margin-right: 500px;
  margin-top: -300px;
  background-color: lightblue; 
}

.detailed-button:hover{
  width: 200px;
  height: 50px;
  font-size: 20px;
	box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.07);
	transition: width 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}
