html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.basic-button:hover{
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.basic-button{
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.detailed-button{
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.detailed-button:hover{
  width: 170px;
  height: 50px;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}


.home-button{
  background-color: red;
  border-color: red;
}

.home-button:hover{
    width: 170px;
    height: 50px;
    background-color: red;
    border-color: red;
    color: red;
}
