.image {
    width: 2.5%;
    height: 2.5%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 20%;
    background-color: #28282B;
    background: "./assets/images/spider-logo.png"
}
.image:hover {
    background-color: white;
}

.bar {
    background-color: black;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: left;
}