.DQ1 {
    text-align: center;
    width: 120px;
    height: 32px;
    font-size: 20px;
    background-color: aqua;
  }

  .DQ1Header {
    font-size: 100px;
    margin-bottom: 500px
  }

  .SubmitButton{
    font-size: 30px;
    color: green;
    border-color: red;
    background-color: goldenrod;

  }