.Multiple-Choice-Question{
    width: auto; 
    height: auto;
    margin-Top: 10%;
    max-Width: 40%;
    border: 2px solid;
    border-color: darkgreen;
    border-radius: 25px;
    
    margin-left:50%;
    transform: translate(-50%, 0%);
    
    position: absolute;
    
    opacity: .9;
    background-Color: turquoise;
}